<nav class="navbar navbar-default navbar-fixed-top m-b-0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="<%= root_path %>" class="navbar-brand">
        <span class="text-uppercase">Linkedin AppRails</span>
      </a>
    </div>
  </div>
</nav>